################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/projeto_integrador_III/FileContentIndex
/.vs/projeto_integrador_III/v17
/.vs
